@media (max-width: 2560px) { 
    .card{
        background-color: black;
        width: 18rem;
        height: 30rem;
        position: relative;
    }
    .card-img-top{
         width: 270px;
         height: 200px;
    }
    .row{
   
    gap:0px;
   }
 }


@media (max-width: 1400px) { 
    .card{
       
        width: 18rem;
        height: 30rem;
        position: relative;
    }
    .card-img-top{
        width: 270px;
        height: 200px;
   }
 }
@media (max-width: 1199px) { 
    .card{
       
        width: 15rem;
        height: 30rem;
        position: relative;
    }
    .card-img-top{
        width: 220px;
        height: 200px;
   }
 }

@media (max-width: 991px) { 
    .card{
       
        width: 15rem; 
        height: 30rem;
        position: relative;
       
    }
    .card-img-top{
        width: 220px;
        height: 200px;
   }

   .row{
   
    gap: 40px;
    --bs-gutter-x: 123px;
   }
 }

@media (max-width: 768px) { 
    .card{
       
        width: 15rem;
        height: 30rem;
        position: relative;
       
    }
    .card-img-top{
        width: 220px;
        height: 200px;
   }

   .row{
   
    display: grid;
    gap: 1rem;
    --bs-gutter-x: 123px;
    grid-template-columns: repeat(2, 1fr); /* 4 columns per row */
   }
 }

@media (max-width: 450px) { 
    .container .my-3 {
       
        
        width: 70%;
        max-width: 100px;
        margin-left: auto;
        margin-right: auto;
        /* padding-left: px; */
        padding-right: 15px;
    }
    .d-flex {
        display: flex;
        align-items: center;
        justify-content: center;
       
    }
    /* Card styling */
    .card {
        
        width: 18rem;
        height: 29rem;
        position: relative;
    }

    /* Image inside the card */
    .card-img-top {
        width: 260px;
        height: 210px;
        padding-left: 1px;
    }

    /* Row styling */
    .row {
      
        grid-template-columns: repeat(1, 1fr);  /* 1 column per row */
        padding-left: 20px;
    }
}